.ucf-news.classic .ucf-news-item{clear:left;margin-bottom:20px;padding:6px 0}.ucf-news.classic .ucf-news-thumbnail{display:block;float:left;margin-right:15px;max-height:66px;max-width:66px}.ucf-news.classic .ucf-news-thumbnail .ucf-news-thumbnail-image{border-radius:10px;height:auto;max-width:100%}.ucf-news.modern .ucf-news-item{clear:left;margin-bottom:20px;margin-left:-15px;padding:15px}.ucf-news.modern .ucf-news-item:hover{background:#eceeef;text-decoration:none!important}.ucf-news.modern .ucf-news-item a:hover{text-decoration:none}.ucf-news.modern .ucf-news-thumbnail{display:inline-block;margin-right:1%;max-height:150px;max-width:150px;vertical-align:top;width:25%}.ucf-news.modern .ucf-news-thumbnail .ucf-news-thumbnail-image{height:auto;max-width:100%}.ucf-news.modern .ucf-news-item-content{display:inline-block;width:74%}.ucf-news.modern .ucf-news-section-title{background:#fc0;color:#000;display:inline-block;margin-bottom:1rem;padding:2px 14px}.ucf-news.modern .ucf-news-item-title{color:#000;font-weight:700}.ucf-news.modern .ucf-news-item-excerpt{color:#000;margin-bottom:0}@media (max-width:767px){.ucf-news.card-layout .ucf-news-card-link{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row}}.ucf-news.card-layout .ucf-news-thumbnail-image{-ms-flex-item-align:start;align-self:start;display:-ms-flexbox;display:flex;-ms-flex:0 0 60px;flex:0 0 60px;height:auto;margin-bottom:.8rem;margin-left:.8rem;margin-top:.8rem;max-width:60px}@media (min-width:576px){.ucf-news.card-layout .ucf-news-thumbnail-image{-ms-flex:0 0 80px;flex:0 0 80px;max-width:80px}}@media (min-width:768px){.ucf-news.card-layout .ucf-news-thumbnail-image{-ms-flex:0 0 100%;flex:0 0 100%;margin:0;max-width:100%;width:100%}}.ucf-news.card-layout .ucf-news-card-title{font-size:.9rem;font-weight:500;margin-bottom:0;padding:.8rem}@media (min-width:1200px){.ucf-news.card-layout .ucf-news-card-title{font-size:1rem}}.ucf-news.card-layout .ucf-news-card-text{color:#767676;font-size:.75rem;font-style:italic;font-weight:400;padding:0 .8rem}@media (min-width:1200px){.ucf-news.card-layout .ucf-news-card-text{font-size:.9rem}}@media (min-width:768px){.ucf-news.card-layout .ucf-news-card-deck{display:-ms-flexbox;display:flex;-ms-flex-flow:row wrap;flex-flow:row wrap}}@media (min-width:768px){.ucf-news.card-layout .ucf-news-card-deck .ucf-news-card:not(:last-child){margin-right:15px}}@media (min-width:768px){.ucf-news.card-layout .ucf-news-card-deck .ucf-news-card{display:-ms-flexbox;display:flex;-ms-flex:1 0 0px;flex:1 0 0;-ms-flex-direction:column;flex-direction:column}}.ucf-news.card-layout .ucf-news-card{background-color:#fff;border:1px solid rgba(0,0,0,.125);border-radius:0;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;margin-bottom:1.5rem;position:relative}.ucf-news.card-layout .ucf-news-card a{color:#000}

@media (min-width: 576px){
	.ucf-news.modern-card{
		display: flex;
		flex-wrap: wrap;
	}
	.ucf-news.modern-card .ucf-news-item{
		margin-left: 0;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.ucf-news.modern-card .ucf-news-thumbnail,
	.ucf-news.modern-card .ucf-news-item-content {
		width: 100% !important;
	}	
}
@media (min-width: 992px){
	.ucf-news.modern-card .ucf-news-item{
		margin-left: 0;
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
}